<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>http://95.110.230.190</MSDeployServiceURL>
    <DeployIisAppPath>TRApiPRD</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>RemoteAgent</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>admin70359559</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MSSql12155" Order="1" Enabled="False">
          <Destination Path="Data Source=95.110.230.190;Initial Catalog=MSSql12155;Persist Security Info=True;User ID=MSSql12155;Password=50a715f9" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=95.110.230.190;Initial Catalog=MSSql12155;Persist Security Info=True;User ID=MSSql12155;Password=50a715f9" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MSSql12155_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=95.110.230.190;database=MSSql12155;Persist Security Info=True;User ID=MSSql12155  ;Password=50a715f9;MultipleActiveResultSets=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="MSSql12155-Web.config Connection String">
      <ParameterValue>data source=95.110.230.190;initial catalog=MSSql12155;persist security info=True;user id=MSSql12155;password=50a715f9;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>